<!DOCTYPE html>
<html lang="en">
<head>
    <title>Marie</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Meet Marie."/>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/custom.css" />
</head>
<body>
    <div id="wrapper">
        <h1>Locations Editor</h1>
        <div id="main">
            <form method="post" action="#">
                <div class="field">
                    <label for="facility">Facility Name?</label>
                    <textarea name="facility" id="facility" rows="1"></textarea>
                </div>
                <div class="field">
                    <label for="region">Region?</label>
                    <textarea name="region" id="region" rows="1"></textarea>
                </div>
                <div class="field">
                    <label for="county">County?</label>
                    <textarea name="county" id="county" rows="1"></textarea>
                </div>
                <div class="field">
                    <label for="location_desc">Location Desc.?</label>
                    <textarea name="location_desc" id="location_desc" rows="1"></textarea>
                </div>
                <div class="field">
                    <label for="token">AUTH CODE</label>
                    <textarea name="token" id="token" rows="1"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" name="submit" id="submit" value="Submit"></li>
            </ul>
        </form>
        </div>
        <footer id="footer">
            <p class="copyright">Marie | Made with &#10084; in Seattle | <a href="https://derekbekoe.com" target="_blank">Derek Bekoe</a></p>
        </footer>
        </div>
        <div id="bg" style="background-color: #1c1c1c; background-size: cover;"></div>
</body>
</html>
